html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.gradient-login{
  background: #3b3479;
  background: linear-gradient(to right, rgba(60,53,121,255), rgba(34,29,68,255));
}

.btn-login{
  background-color: #3c357a;
  border-color: #3c357a;
}

.btn-login:hover{
  background-color: #3c3579;
  border-color: #3c3579;
}